.container {
}
.th,#no {
    width: 10px;
}

.th,#mapel {
    width: auto;
}

.th,#kkm {
    width: 100px;
}

.th,#nilai {
    width: 100px;
}

.th,#rata-rata {
    width: 100px;
}

.table, #rapor {
    margin: 0px auto;
}

#img-center {
    display: block;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}
